


@import url('./header.css');
@import url('./icons.css');
@import url('./reset.css');
@import url('./spiner.css');
@import url('./card.css');
@import url('./gridcard.css');
@import url('./mediaqueries.css');
@import url('./footer.css');
@import url('./cart.css');
@import url('./photodetailuser.css');




.app-container{
  background-color: #4f624e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;

 
}
.main-page-container{
  margin-top: 2em;
}

table {
  border-collapse: collapse; 
  border: 2px solid #000; 
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
.error{
  color:red

}

