

.card-main-page{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
    
}
.card-main-page header {

   
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;

 
}
.card-main-page>a{ display: flex;justify-content: center
    /* ;background-color:#e7e3d7} */}
.card-main-page img{
    width: 95%;
   
}
/* .card-main-page main{ }
.card-main-page footer{} */
