
.modal-photo-container{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 10000;
    height: 100vh;
    width: 100%;
    overflow-y: scroll ;
    animation: modal 0.5s 
}

@keyframes modal {
    from{opacity: 0;}
    to{opacity: 100;}
    
}

.modal-padding{
    position: absolute;
    top: 5rem;
    padding-bottom: 5rem;
    
}
.modal-photo{
bottom: 5rem;
max-width: 1000px;
width: 90vw;
}

.modal-button{
  position: fixed;
  top: 1rem;
  right:4rem;
  opacity: 0%;
  transition-delay: 0.2s;
 visibility: hidden;

}
.modal-button-active{opacity: 100%;visibility: visible;  z-index: 100000;}