.image-zoom {
  position: relative;
  cursor: zoom-in;
   width: 600px;
}

.image-zoom img {
  max-width: 100%;
  height: auto;
 
} 
.zoom-preview {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}


.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.img-proof{
  width: 100px;
  margin-bottom: 10px;
}
.form-put{
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: start;
  border: solid #000 1px;
  margin: 10px 0;
  padding: 2em;

}
table {
  border-collapse: collapse; /* This property ensures that adjacent cell borders collapse into a single border */
  border: 2px solid #000; /* Border for the entire table */
}

th, td {
  border: 1px solid #ddd; /* Borders for table cells */
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
.error{
  color:red

}
  .form-put.formy:first-child {
  background: coral;

}

a:link {
  background: red;
}
a:visited {
  background: blue;
}
a:hover {
  background: yellow;
}
a:active {
  background: brown;
}